.form {
  font-size: 1.4rem;
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);
  padding: 4rem 2.4rem;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.form button {
  align-self: end;
  padding-inline: 4rem;
}

.form .inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.6rem;
  row-gap: 2.4rem;
}

.form .inputs > div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form .inputs > div span label {
  font-weight: 700;
  color: var(--color-text-900);
}
.form .inputs > div span svg {
  color: var(--color-error);
  font-size: 1.2rem;
  position: relative;
  top: -0.4rem;
}

.form .inputs > div input,
.form .inputs > div.description textarea {
  padding: 1.2rem 2.4rem;
  border-radius: 99rem;
  border: none;
  background-color: var(--color-search-bg);
  outline-color: var(--color-primary);
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
}

.form .inputs > div input:focus,
.form .inputs > div.description textarea:focus {
  background-color: var(--color-primary-light);
}

.form .inputs > div.description {
  grid-column: 1 / -1;
}

.form .inputs > div.description textarea {
  height: 14rem;
  border-radius: 3.2rem;
}

.form .inputs > div.checkbox {
  flex-direction: row;
}
